## Pandas para Análise de Dados...
### Excel do python...

In [12]:
# instala pandas
import pandas as pd
import numpy as np
# cria um DataFrame a partir de um dicionário

In [9]:
pd.__version__  # verifica a versão do pandas

'1.5.3'

In [13]:
# cria um dicionário com dados
dados = {'Estado': ['Santa Catarina', 'Paraná', 'São Paulo', 'Rio de Janeiro', 'Minas Gerais'],'Ano': [2020, 2021, 2022, 2023, 2024],'Taxa de Crescimento': [2.5, 3.0, 2.8, 3.5, 4.0]}
# cria um DataFrame a partir do dicionário

In [14]:
# importa a função dataframe do pandas
from pandas import DataFrame

In [15]:
# converte o dicionário em um DataFrame
df = DataFrame(dados)

In [16]:
# visualiza o DataFrame
print(df)

           Estado   Ano  Taxa de Crescimento
0  Santa Catarina  2020                  2.5
1          Paraná  2021                  3.0
2       São Paulo  2022                  2.8
3  Rio de Janeiro  2023                  3.5
4    Minas Gerais  2024                  4.0

In [17]:
type(df)  # verifica o tipo do objeto df

pandas.core.frame.DataFrame

In [21]:
# reorganiza as colunas do DataFrame
DataFrame(dados, columns = ['Estado', 'Taxa de Crescimento','Ano'])

           Estado  Taxa de Crescimento   Ano
0  Santa Catarina                  2.5  2020
1          Paraná                  3.0  2021
2       São Paulo                  2.8  2022
3  Rio de Janeiro                  3.5  2023
4    Minas Gerais                  4.0  2024

In [24]:
# criando outro dataframe com os mesmos dados adicionando uma coluna de Taxa Desemprego
dados2 = DataFrame(dados, columns = ['Estado', 'Taxa Desemprego', 'Taxa de Crescimento', 'Ano'], index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])
dados2

                 Estado Taxa Desemprego  Taxa de Crescimento   Ano
estado1  Santa Catarina             NaN                  2.5  2020
estado2          Paraná             NaN                  3.0  2021
estado3       São Paulo             NaN                  2.8  2022
estado4  Rio de Janeiro             NaN                  3.5  2023
estado5    Minas Gerais             NaN                  4.0  2024

In [26]:
dados2['Estado']  # acessa a coluna 'Estado' do DataFrame

estado1    Santa Catarina
estado2            Paraná
estado3         São Paulo
estado4    Rio de Janeiro
estado5      Minas Gerais
Name: Estado, dtype: object

In [27]:
dados2.values  # acessa os valores do DataFrame

array([['Santa Catarina', nan, 2.5, 2020],
       ['Paraná', nan, 3.0, 2021],
       ['São Paulo', nan, 2.8, 2022],
       ['Rio de Janeiro', nan, 3.5, 2023],
       ['Minas Gerais', nan, 4.0, 2024]], dtype=object)

In [28]:
dados2.dtypes  # verifica os tipos de dados de cada coluna do DataFrame

Estado                  object
Taxa Desemprego         object
Taxa de Crescimento    float64
Ano                      int64
dtype: object

In [29]:
dados2.columns  # acessa os nomes das colunas do DataFrame

Index(['Estado', 'Taxa Desemprego', 'Taxa de Crescimento', 'Ano'], dtype='object')

In [30]:
# imprime duas colnas do DataFrame
dados2[['Estado', 'Taxa de Crescimento']]

                 Estado  Taxa de Crescimento
estado1  Santa Catarina                  2.5
estado2          Paraná                  3.0
estado3       São Paulo                  2.8
estado4  Rio de Janeiro                  3.5
estado5    Minas Gerais                  4.0

In [31]:
# filtrando por index
dados2.loc['estado1']  # acessa a linha com o index 'estado1

Estado                 Santa Catarina
Taxa Desemprego                   NaN
Taxa de Crescimento               2.5
Ano                              2020
Name: estado1, dtype: object

In [36]:
dados2.filter(items=['estado3'], axis=0)  #

            Estado Taxa Desemprego  Taxa de Crescimento   Ano
estado3  São Paulo             NaN                  2.8  2022

In [37]:
# trabalhando com pandas e numpy
dados2.head()  # exibe as primeiras linhas do DataFrame

                 Estado Taxa Desemprego  Taxa de Crescimento   Ano
estado1  Santa Catarina             NaN                  2.5  2020
estado2          Paraná             NaN                  3.0  2021
estado3       São Paulo             NaN                  2.8  2022
estado4  Rio de Janeiro             NaN                  3.5  2023
estado5    Minas Gerais             NaN                  4.0  2024

In [38]:
dados2.dtypes  # verifica os tipos de dados de cada coluna do DataFrame

Estado                  object
Taxa Desemprego         object
Taxa de Crescimento    float64
Ano                      int64
dtype: object

In [39]:
# resumo estatístico do DataFrame
dados2.describe()  # exibe estatísticas descritivas do DataFrame

       Taxa de Crescimento          Ano
count             5.000000     5.000000
mean              3.160000  2022.000000
std               0.594138     1.581139
min               2.500000  2020.000000
25%               2.800000  2021.000000
50%               3.000000  2022.000000
75%               3.500000  2023.000000
max               4.000000  2024.000000

In [40]:
dados2.isna()
# verifica se há valores ausentes no DataFrame

         Estado  Taxa Desemprego  Taxa de Crescimento    Ano
estado1   False             True                False  False
estado2   False             True                False  False
estado3   False             True                False  False
estado4   False             True                False  False
estado5   False             True                False  False

In [41]:
dados2['Taxa Desemprego'].isna()  # verifica se há valores ausentes na coluna 'Taxa Desemprego'

estado1    True
estado2    True
estado3    True
estado4    True
estado5    True
Name: Taxa Desemprego, dtype: bool

In [42]:
dados2['Taxa de Crescimento'].isna()  # verifica se há valores ausentes na coluna 'Taxa de Crescimento'

estado1    False
estado2    False
estado3    False
estado4    False
estado5    False
Name: Taxa de Crescimento, dtype: bool

In [43]:
dados2['Taxa Desemprego'] = [5.0, 6.0, 4.5, 7.0, 5.5]  # adiciona a coluna de Taxa Desemprego

In [44]:
dados2

                 Estado  Taxa Desemprego  Taxa de Crescimento   Ano
estado1  Santa Catarina              5.0                  2.5  2020
estado2          Paraná              6.0                  3.0  2021
estado3       São Paulo              4.5                  2.8  2022
estado4  Rio de Janeiro              7.0                  3.5  2023
estado5    Minas Gerais              5.5                  4.0  2024

In [45]:
dados2.dtypes  # verifica os tipos de dados de cada coluna do DataFrame

Estado                  object
Taxa Desemprego        float64
Taxa de Crescimento    float64
Ano                      int64
dtype: object

In [46]:
dados2.describe()  # exibe estatísticas descritivas do DataFrame

       Taxa Desemprego  Taxa de Crescimento          Ano
count         5.000000             5.000000     5.000000
mean          5.600000             3.160000  2022.000000
std           0.961769             0.594138     1.581139
min           4.500000             2.500000  2020.000000
25%           5.000000             2.800000  2021.000000
50%           5.500000             3.000000  2022.000000
75%           6.000000             3.500000  2023.000000
max           7.000000             4.000000  2024.000000

In [47]:
# fazendo slicing no DataFrame
dados2.iloc[0:3]  # seleciona as primeiras três linhas do DataFrame

                 Estado  Taxa Desemprego  Taxa de Crescimento   Ano
estado1  Santa Catarina              5.0                  2.5  2020
estado2          Paraná              6.0                  3.0  2021
estado3       São Paulo              4.5                  2.8  2022

In [48]:
dados2[dados2['Taxa de Crescimento'] > 3.0]  # filtra o DataFrame para mostrar apenas as linhas onde a Taxa de Crescimento é maior que 3.0

                 Estado  Taxa Desemprego  Taxa de Crescimento   Ano
estado4  Rio de Janeiro              7.0                  3.5  2023
estado5    Minas Gerais              5.5                  4.0  2024

In [53]:
dados2[['Taxa de Crescimento', 'Estado', 'Ano']]  # filtra o DataFrame para mostrar apenas as linhas onde a Taxa de Crescimento é maior que 3.0, exibindo apenas as colunas 'Estado' e 'Ano'

         Taxa de Crescimento          Estado   Ano
estado1                  2.5  Santa Catarina  2020
estado2                  3.0          Paraná  2021
estado3                  2.8       São Paulo  2022
estado4                  3.5  Rio de Janeiro  2023
estado5                  4.0    Minas Gerais  2024

#### query de dados no pandas

In [56]:
# preenchendo valores ausentes
dados_df = pd.read_csv('dataset1.csv')

In [57]:
dados_df.head(5)  # exibe as primeiras cinco linhas do DataFrame

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,NaN
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [58]:
dados_df.isna()  # verifica se há valores ausentes no DataFrame

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9989,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False

In [61]:
dados_df.isna().sum()  # verifica se há valores ausentes no DataFrame

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      2
dtype: int64

#### interpolação de dados
##### utiliza os maiores valores para os valores ausentes no data frame

In [64]:
# extraindo a moda da coluna Quantity
dados_df['Quantidade'].value_counts().index[0]  # conta os valores únicos na coluna 'Quantidade' e retorna os índices (valores únicos)

3.0

In [65]:
# preenchendo valores ausentes com a moda
dados_df['Quantidade'].fillna(dados_df['Quantidade'].mode()[0], inplace=True)  # preenche os valores ausentes na coluna 'Quantidade' com a moda da coluna

In [66]:
dados_df.isna().sum()  # verifica se há valores ausentes no DataFrame

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      0
dtype: int64

In [67]:
# fazendo consulta de dados no dataframe
dados_df.query('Quantidade > 10')  # filtra o DataFrame para mostrar apenas

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
113,CA-2014-115259,2014-08-25,RC-19960,Consumer,United States,East,OFF-FA-10000621,Office Supplies,"OIC Colored Binder Clips, Assorted Sizes",40.096,14.0
139,CA-2016-145583,2016-10-13,LC-16885,Consumer,United States,West,FUR-FU-10001706,Furniture,Longer-Life Soft White Bulbs,43.120,14.0
147,CA-2016-114489,2016-12-05,JE-16165,Corporate,United States,Central,TEC-PH-10000215,Technology,Plantronics Cordless Phone Headset with In-lin...,384.450,11.0
251,CA-2016-145625,2016-09-11,KC-16540,Consumer,United States,West,TEC-AC-10003832,Technology,Logitech P710e Mobile Speakerphone,3347.370,13.0
342,CA-2014-122336,2014-04-13,JD-15895,Corporate,United States,East,OFF-FA-10002780,Office Supplies,Staples,30.992,13.0
...,...,...,...,...,...,...,...,...,...,...,...
9732,CA-2014-114321,2014-08-20,NC-18535,Corporate,United States,South,FUR-CH-10001797,Furniture,"Safco Chair Connectors, 6/Carton",500.240,13.0
9882,CA-2014-153927,2014-08-12,LL-16840,Consumer,United States,South,TEC-AC-10000023,Technology,"Maxell 74 Minute CD-R Spindle, 50/Pack",272.610,13.0
9895,CA-2014-115049,2014-09-26,MM-17920,Consumer,United States,Central,TEC-AC-10004859,Technology,"Maxell Pro 80 Minute CD-R, 10/Pack",153.824,11.0
9941,CA-2017-164028,2017-11-24,JL-15835,Consumer,United States,West,TEC-AC-10001772,Technology,Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...,223.580,14.0
9979,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-BI-10002026,Office Supplies,Ibico Recycled Linen-Style Covers,437.472,14.0

In [68]:
dados_df.Valor_Venda.describe()  # exibe estatísticas descritivas da coluna 'Valor_Venda'

count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Valor_Venda, dtype: float64

In [72]:
# fazendo consulta em um intervalo de valores
df1 = dados_df.query('Valor_Venda > 100 and Valor_Venda < 500')  # filtra o DataFrame para mostrar apenas as linhas onde o Valor_Venda está entre 100 e 500
df1.Valor_Venda.describe()  # exibe estatísticas descritivas da coluna 'Valor_Venda' do DataFrame filtrado

count    2603.000000
mean      240.636753
std       109.468831
min       100.240000
25%       146.906000
50%       212.940000
75%       314.550000
max       499.990000
Name: Valor_Venda, dtype: float64

In [75]:
df2 = dados_df.query('229 < Valor_Venda < 1000')  # filtra o DataFrame para mostrar apenas as linhas onde o Valor_Venda está entre 100 e 500
df2.Valor_Venda.describe()  # exibe estatísticas descritivas da coluna 'Valor_Venda' do DataFrame filtrado

count    1894.000000
mean      471.347406
std       202.048123
min       229.544000
25%       302.376000
50%       418.308000
75%       600.558000
max       999.980000
Name: Valor_Venda, dtype: float64

In [76]:
df3 = df2.query('Valor_Venda > 766')  # filtra o DataFrame para mostrar apenas as linhas onde o Valor_Venda é maior que 733
df3.head()  # exibe as primeiras linhas do DataFrame filtrado

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
7,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,TEC-PH-10002275,Technology,Mitel 5320 IP Phone VoIP phone,907.1520,6.0
11,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,TEC-PH-10002033,Technology,Konftel 250 Conference phone - Charcoal black,911.4240,4.0
72,US-2015-134026,2015-04-26,JE-15745,Consumer,United States,South,FUR-CH-10000513,Furniture,High-Back Leather Manager's Chair,831.9360,8.0
117,CA-2015-110457,2015-03-02,DK-13090,Consumer,United States,West,FUR-TA-10001768,Furniture,Hon Racetrack Conference Tables,787.5300,3.0

In [77]:
# verificando ocorrência de valores em colunas
dados_df.shape  # exibe o formato do DataFrame (número de linhas e colunas)

(9994, 11)

In [78]:
# aplicando filtros no DataFrame
dados_df[dados_df['Quantidade'].isin([5, 7, 9, 11])]  # filtra o DataFrame para mostrar apenas as linhas onde a coluna 'Quantidade' contém os valores acima

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0
9,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,OFF-AP-10002892,Office Supplies,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5.0
10,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-TA-10001539,Furniture,Chromcraft Rectangular Conference Tables,1706.1840,9.0
14,US-2015-118983,2015-11-22,HP-14815,Home Office,United States,Central,OFF-AP-10002311,Office Supplies,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5.0
...,...,...,...,...,...,...,...,...,...,...,...
9974,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-AR-10004752,Office Supplies,Blackstonian Pencils,18.6900,7.0
9977,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-FA-10003467,Office Supplies,"Alliance Big Bands Rubber Bands, 12/Pack",13.8600,7.0
9981,CA-2017-163566,2017-08-03,TB-21055,Consumer,United States,East,OFF-LA-10004484,Office Supplies,Avery 476,16.5200,5.0
9982,US-2016-157728,2016-09-22,RC-19960,Consumer,United States,Central,OFF-PA-10002195,Office Supplies,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.5600,7.0
9988,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-PH-10004006,Technology,Panasonic KX - TS880B Telephone,206.1000,5.0

In [79]:
# aplicando filtros no DataFrame
dados_df[dados_df['Quantidade'].isin([5, 7, 9, 11])].shape

(2128, 11)

In [80]:
# aplicando filtros no DataFrame
dados_df[dados_df['Quantidade'].isin([5, 7, 9, 11])][:10]  # filtra o DataFrame para mostrar apenas as linhas onde a coluna 'Quantidade' contém os valores acima, exibindo as primeiras 10 linhas

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0
9,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,OFF-AP-10002892,Office Supplies,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5.0
10,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-TA-10001539,Furniture,Chromcraft Rectangular Conference Tables,1706.1840,9.0
14,US-2015-118983,2015-11-22,HP-14815,Home Office,United States,Central,OFF-AP-10002311,Office Supplies,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5.0
21,CA-2016-137330,2016-12-09,KB-16585,Corporate,United States,Central,OFF-AR-10000246,Office Supplies,Newell 318,19.4600,7.0
22,CA-2016-137330,2016-12-09,KB-16585,Corporate,United States,Central,OFF-AP-10001492,Office Supplies,"Acco Six-Outlet Power Strip, 4' Cord Length",60.3400,7.0
27,US-2015-150630,2015-09-17,TB-21520,Consumer,United States,East,FUR-BO-10004834,Furniture,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.4300,7.0
35,CA-2016-117590,2016-12-08,GH-14485,Corporate,United States,Central,TEC-PH-10004977,Technology,GE 30524EE4,1097.5440,7.0
36,CA-2016-117590,2016-12-08,GH-14485,Corporate,United States,Central,FUR-FU-10003664,Furniture,"Electrix Architect's Clamp-On Swing Arm Lamp, ...",190.9200,5.0

In [83]:
import inspect
print(inspect.getsource(np.isin))  # exibe o código fonte da função DataFrame do pandas

@array_function_dispatch(_isin_dispatcher)
def isin(element, test_elements, assume_unique=False, invert=False, *,
         kind=None):
    """
    Calculates ``element in test_elements``, broadcasting over `element` only.
    Returns a boolean array of the same shape as `element` that is True
    where an element of `element` is in `test_elements` and False otherwise.

    Parameters
    ----------
    element : array_like
        Input array.
    test_elements : array_like
        The values against which to test each value of `element`.
        This argument is flattened if it is an array or array_like.
        See notes for behavior with non-array-like parameters.
    assume_unique : bool, optional
        If True, the input arrays are both assumed to be unique, which
        can speed up the calculation.  Default is False.
    invert : bool, optional
        If True, the values in the returned array are inverted, as if
        calculating `element not in test_elements`. Default is False.
        ``np.isin(a, b, invert=True)`` is equivalent to (but faster
        than) ``np.invert(np.isin(a, b))``.
    kind : {None, 'sort', 'table'}, optional
        The algorithm to use. This will not affect the final result,
        but will affect the speed and memory use. The default, None,
        will select automatically based on memory considerations.

        * If 'sort', will use a mergesort-based approach. This will have
          a memory usage of roughly 6 times the sum of the sizes of
          `ar1` and `ar2`, not accounting for size of dtypes.
        * If 'table', will use a lookup table approach similar
          to a counting sort. This is only available for boolean and
          integer arrays. This will have a memory usage of the
          size of `ar1` plus the max-min value of `ar2`. `assume_unique`
          has no effect when the 'table' option is used.
        * If None, will automatically choose 'table' if
          the required memory allocation is less than or equal to
          6 times the sum of the sizes of `ar1` and `ar2`,
          otherwise will use 'sort'. This is done to not use
          a large amount of memory by default, even though
          'table' may be faster in most cases. If 'table' is chosen,
          `assume_unique` will have no effect.


    Returns
    -------
    isin : ndarray, bool
        Has the same shape as `element`. The values `element[isin]`
        are in `test_elements`.

    See Also
    --------
    in1d                  : Flattened version of this function.
    numpy.lib.arraysetops : Module with a number of other functions for
                            performing set operations on arrays.

    Notes
    -----

    `isin` is an element-wise function version of the python keyword `in`.
    ``isin(a, b)`` is roughly equivalent to
    ``np.array([item in b for item in a])`` if `a` and `b` are 1-D sequences.

    `element` and `test_elements` are converted to arrays if they are not
    already. If `test_elements` is a set (or other non-sequence collection)
    it will be converted to an object array with one element, rather than an
    array of the values contained in `test_elements`. This is a consequence
    of the `array` constructor's way of handling non-sequence collections.
    Converting the set to a list usually gives the desired behavior.

    Using ``kind='table'`` tends to be faster than `kind='sort'` if the
    following relationship is true:
    ``log10(len(ar2)) > (log10(max(ar2)-min(ar2)) - 2.27) / 0.927``,
    but may use greater memory. The default value for `kind` will
    be automatically selected based only on memory usage, so one may
    manually set ``kind='table'`` if memory constraints can be relaxed.

    .. versionadded:: 1.13.0

    Examples
    --------
    >>> element = 2*np.arange(4).reshape((2, 2))
    >>> element
    array([[0, 2],
           [4, 6]])
    >>> test_elements = [1, 2, 4, 8]
    >>> mask = np.isin(element, test_elements)
    >>> mask
    array([[False,  True],
           [ True, False]])
    >>> element[mask]
    array([2, 4])

    The indices of the matched values can be obtained with `nonzero`:

    >>> np.nonzero(mask)
    (array([0, 1]), array([1, 0]))

    The test can also be inverted:

    >>> mask = np.isin(element, test_elements, invert=True)
    >>> mask
    array([[ True, False],
           [False,  True]])
    >>> element[mask]
    array([0, 6])

    Because of how `array` handles sets, the following does not
    work as expected:

    >>> test_set = {1, 2, 4, 8}
    >>> np.isin(element, test_set)
    array([[False, False],
           [False, False]])

    Casting the set to a list gives the expected result:

    >>> np.isin(element, list(test_set))
    array([[False,  True],
           [ True, False]])
    """
    element = np.asarray(element)
    return in1d(element, test_elements, assume_unique=assume_unique,
                invert=invert, kind=kind).reshape(element.shape)

In [84]:
# filtrando as vendas que ocorreram para o segmento home office e na região South
dados_df[(dados_df.Segmento == 'Home Office') & (dados_df.Regiao == 'South')].head()  # filtra o DataFrame para mostrar apenas as linhas onde o Segmento é 'Home Office' e a Região é 'South'

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
182,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10003273,Technology,AT&T TR1909W,503.9600,4.0
183,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10004896,Technology,Nokia Lumia 521 (T-Mobile),149.9500,5.0
184,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-AC-10002345,Technology,HP Standard 104 key PS/2 Keyboard,29.0000,2.0
231,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10001705,Furniture,Bush Advantage Collection Round Conference Table,233.8600,2.0
232,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10003473,Furniture,Bretford Rectangular Conference Table Tops,620.6145,3.0

In [85]:
# filtrando as vendas que ocorreram para o segmento home office ou região South
dados_df[(dados_df.Segmento == 'Home Office') | (dados_df.Regiao == 'South')].tail()  # filtra o DataFrame para mostrar apenas as linhas onde o Segmento é 'Home Office' ou a Região é 'South'

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
9979,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-BI-10002026,Office Supplies,Ibico Recycled Linen-Style Covers,437.472,14.0
9980,US-2015-151435,2015-09-06,SW-20455,Consumer,United States,South,FUR-TA-10001029,Furniture,KI Adjustable-Height Table,85.980,1.0
9987,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-AC-10001539,Technology,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0
9988,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-PH-10004006,Technology,Panasonic KX - TS880B Telephone,206.100,5.0
9989,CA-2014-110422,2014-01-21,TB-21400,Consumer,United States,South,FUR-FU-10001889,Furniture,Ultra Door Pull Handle,25.248,3.0

In [87]:
#filtrando as vendas que não ocorreram para o segmento home office e na região South
dados_df[~((dados_df.Segmento == 'Home Office') & (dados_df.Regiao == 'South'))].sample(5)  # filtra o DataFrame para mostrar apenas as linhas onde o Segmento não é 'Home Office' e a Região não é 'South'

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3870,CA-2015-132486,2015-10-23,JF-15355,Consumer,United States,West,OFF-PA-10004971,Office Supplies,Xerox 196,11.560,2.0
4817,CA-2014-139598,2014-12-26,MG-17695,Consumer,United States,East,OFF-AP-10003287,Office Supplies,Tripp Lite TLP810NET Broadband Surge for Modem...,81.552,2.0
7213,CA-2017-154949,2017-10-15,MC-17275,Consumer,United States,West,OFF-LA-10002034,Office Supplies,Avery 478,14.730,3.0
6653,US-2017-124779,2017-09-08,BF-11020,Corporate,United States,Central,FUR-CH-10003535,Furniture,"Global Armless Task Chair, Royal Blue",213.430,5.0
8375,CA-2015-158701,2015-01-05,JL-15175,Home Office,United States,West,OFF-BI-10001294,Office Supplies,Fellowes Binding Cases,56.160,6.0

#### Agrupamento de dados em data frames com group by

In [ ]:
# aplicando agrupamento de dados em data frames com group by
dados_df[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).mean()  # agrupa o DataFrame por 'Segmento' e 'Regiao' e calcula a média do 'Valor_Venda' para cada grupo

                     Valor_Venda
Segmento    Regiao
Consumer    Central   207.946728
            East      238.875539
            South     233.390180
            West      217.033955
Corporate   Central   234.763466
            East      228.516929
            South     238.992025
            West      235.265911
Home Office Central   208.248046
            East      253.911805
            South     272.996329
            West      239.442692

In [90]:
# aplicando agrupamento de dados em data frames com group by
dados_df[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).agg(['min', 'max', 'mean', 'sum', 'count', 'std'])  # agrupa

                    Valor_Venda                                            \
                            min        max        mean          sum count
Segmento    Regiao
Consumer    Central       0.444   9892.740  207.946728  252031.4340  1212
            East          0.852  10499.970  238.875539  350908.1670  1469
            South         1.344   8749.950  233.390180  195580.9710   838
            West          1.080  13999.960  217.033955  362880.7730  1672
Corporate   Central       0.556  17499.950  234.763466  157995.8128   673
            East          1.188   9099.930  228.516929  200409.3470   877
            South         1.167   7999.980  238.992025  121885.9325   510
            West          1.188   5083.960  235.265911  225855.2745   960
Home Office Central       1.408   3812.970  208.248046   91212.6440   438
            East          1.640  11199.968  253.911805  127463.7260   502
            South         2.816  22638.480  272.996329   74255.0015   272
            West          0.990   4535.976  239.442692  136721.7770   571


                             std
Segmento    Regiao
Consumer    Central   587.906523
            East      633.371169
            South     559.346824
            West      551.997547
Corporate   Central   818.947521
            East      530.001654
            South     586.176947
            West      471.288764
Home Office Central   371.009180
            East      722.777318
            South    1404.798466
            West      529.242737

In [93]:
# filtrando com base em strings
dados_df[dados_df.Segmento.str.startswith('Con')].head()  # filtra o DataFrame para mostrar apenas as linhas onde o Segmento começa com 'Consumer'

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,3.0
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0

In [97]:
dados_df.Segmento.value_counts()  # conta os valores únicos na coluna 'Segmento' do DataFrame

Consumer       5191
Corporate      3020
Home Office    1783
Name: Segmento, dtype: int64

In [98]:
# filtrando o dataframe pela coluna Segmento com valores que terminam com as letras 'mer'
dados_df[dados_df.Segmento.str.endswith('mer')].head()  # filtra o DataFrame para mostrar apenas as linhas onde o Segmento termina com 'mer'

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,3.0
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0

In [99]:
# Fazendo split de strings em dataframes
dados_df['Segmento'].str.split(' ').str[0].head()  # divide a coluna 'Segmento' em palavras e exibe a primeira palavra de cada linha

0     Consumer
1     Consumer
2    Corporate
3     Consumer
4     Consumer
Name: Segmento, dtype: object