## Pandas para Análise de Dados...
### Excel do python...

In [12]:
# instala pandas
import pandas as pd
import numpy as np
# cria um DataFrame a partir de um dicionário

In [9]:
pd.__version__  # verifica a versão do pandas

'1.5.3'

In [13]:
# cria um dicionário com dados
dados = {'Estado': ['Santa Catarina', 'Paraná', 'São Paulo', 'Rio de Janeiro', 'Minas Gerais'],'Ano': [2020, 2021, 2022, 2023, 2024],'Taxa de Crescimento': [2.5, 3.0, 2.8, 3.5, 4.0]}
# cria um DataFrame a partir do dicionário

In [14]:
# importa a função dataframe do pandas
from pandas import DataFrame

In [15]:
# converte o dicionário em um DataFrame
df = DataFrame(dados)

In [16]:
# visualiza o DataFrame
print(df)

           Estado   Ano  Taxa de Crescimento
0  Santa Catarina  2020                  2.5
1          Paraná  2021                  3.0
2       São Paulo  2022                  2.8
3  Rio de Janeiro  2023                  3.5
4    Minas Gerais  2024                  4.0

In [17]:
type(df)  # verifica o tipo do objeto df

pandas.core.frame.DataFrame

In [21]:
# reorganiza as colunas do DataFrame
DataFrame(dados, columns = ['Estado', 'Taxa de Crescimento','Ano'])

           Estado  Taxa de Crescimento   Ano
0  Santa Catarina                  2.5  2020
1          Paraná                  3.0  2021
2       São Paulo                  2.8  2022
3  Rio de Janeiro                  3.5  2023
4    Minas Gerais                  4.0  2024

In [24]:
# criando outro dataframe com os mesmos dados adicionando uma coluna de Taxa Desemprego
dados2 = DataFrame(dados, columns = ['Estado', 'Taxa Desemprego', 'Taxa de Crescimento', 'Ano'], index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])
dados2

                 Estado Taxa Desemprego  Taxa de Crescimento   Ano
estado1  Santa Catarina             NaN                  2.5  2020
estado2          Paraná             NaN                  3.0  2021
estado3       São Paulo             NaN                  2.8  2022
estado4  Rio de Janeiro             NaN                  3.5  2023
estado5    Minas Gerais             NaN                  4.0  2024

In [26]:
dados2['Estado']  # acessa a coluna 'Estado' do DataFrame

estado1    Santa Catarina
estado2            Paraná
estado3         São Paulo
estado4    Rio de Janeiro
estado5      Minas Gerais
Name: Estado, dtype: object

In [27]:
dados2.values  # acessa os valores do DataFrame

array([['Santa Catarina', nan, 2.5, 2020],
       ['Paraná', nan, 3.0, 2021],
       ['São Paulo', nan, 2.8, 2022],
       ['Rio de Janeiro', nan, 3.5, 2023],
       ['Minas Gerais', nan, 4.0, 2024]], dtype=object)

In [28]:
dados2.dtypes  # verifica os tipos de dados de cada coluna do DataFrame

Estado                  object
Taxa Desemprego         object
Taxa de Crescimento    float64
Ano                      int64
dtype: object

In [29]:
dados2.columns  # acessa os nomes das colunas do DataFrame

Index(['Estado', 'Taxa Desemprego', 'Taxa de Crescimento', 'Ano'], dtype='object')

In [30]:
# imprime duas colnas do DataFrame
dados2[['Estado', 'Taxa de Crescimento']]

                 Estado  Taxa de Crescimento
estado1  Santa Catarina                  2.5
estado2          Paraná                  3.0
estado3       São Paulo                  2.8
estado4  Rio de Janeiro                  3.5
estado5    Minas Gerais                  4.0

In [31]:
# filtrando por index
dados2.loc['estado1']  # acessa a linha com o index 'estado1

Estado                 Santa Catarina
Taxa Desemprego                   NaN
Taxa de Crescimento               2.5
Ano                              2020
Name: estado1, dtype: object

In [36]:
dados2.filter(items=['estado3'], axis=0)  #

            Estado Taxa Desemprego  Taxa de Crescimento   Ano
estado3  São Paulo             NaN                  2.8  2022